
# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ls='ls --color=auto'
alias ll='ls -alFh --color=auto'
alias la='ls -A'
alias l='ls -CF'

# # cdしたあと自動でls
# cdls() {
#     \cd "$@" && ll
# }
# alias cd="cdls"

# OCamlのエイリアスを設定
# OCamlでカーソル移動ができるようにrlwrap経由で起動する
alias ocaml='rlwrap ocaml'

# docker-compose用のエイリアスを設定
alias fig='docker-compose'

# VScode-insidersをcodeで起動できるように設定
alias code='code-insiders'

# lsを色付きにする
if [ "$(uname)" = 'Darwin' ]; then #OSがmacのとき
    export LSCOLORS=gxfxcxdxbxegedabagacad
    alias ll='ls -alFG'
else #OSがDebian系のとき
    # ここで~/.colorrcがない。と言われている。
    eval 'dircolors ~/dotfiles/dircolors/dircolors.ansi-universal' >/dev/null
    alias ll='ls -alF  --color=auto'
fi

# shellがbashだった場合
if [ -n "$BASH_VERSION" ]; then
    # open ~/.bashrc in using the default editor specified in $EDITOR
    alias bashconfig="$EDITOR $HOME/.bashrc"

    # source ~/.bashshrc
    alias bashreload="source $HOME/.bashrc"
fi


# shellがzshだった場合
if [ -n "$ZSH_VERSION" ]; then
    # open ~/.zshrc in using the default editor specified in $EDITOR
    alias zshconfig="$EDITOR $HOME/.zshrc"

    # source ~/.zshrc
    alias zshreload="source $HOME/.zshrc"
fi 


# aliases for git
# https://opensource.com/article/20/11/git-aliases
git config --global alias.aa 'add .'
git config --global alias.p 'push'

# windowsでwslの時にelでexplorerを起動したい
# macだったらfinderで表示したいのでopenにすればいいか
if [ "$(uname)" = 'Darwin' ]; then #OSがmacのとき
    alias el='open'
else #OSがDebian系のとき
    alias el='explorer.exe'
fi

# batが入っていたらcatの代わりにbatをつかう
if [ $ostype = mac ]; then #OSがmacのとき
    if [ -e /opt/homebrew/bin/bat ]; then
        alias cat='bat'
    fi
fi
