[user]
	name = ysn
	email = yasunaga.akutsu@gmail.com

[alias]
	# 基本的なエイリアスのみ
	st = status
	co = checkout
	br = branch
	ci = commit
	
	# よく使う組み合わせ
	aa = add .
	ac = !git add . && git commit

[core]
	editor = vim

[push]
	default = current

[pull]
	rebase = false

[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
