# この.aliasはbashとzshで共通
# ostype declared at .zshrc
# macの場合:ostype="mac"
# wslの場合:ostype='wsl'
#それ以外:ostype="linux"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias d="cd ~/Dropbox"
alias dl="~/Downloads"
alias dt="~/Desktop"
alias doc="~/Documents"

# 
alias :q='exit'
#
# OCamlのエイリアスを設定
# OCamlでカーソル移動ができるようにrlwrap経由で起動する
alias ocaml='rlwrap ocaml'

# tmux
alias tm='tmux'

# docker-compose用のエイリアスを設定
alias fig='docker compose'

# VScode-insidersをcodeで起動できるように設定
# alias code='code-insiders'


# shellがbashだった場合
if [ -n "$BASH_VERSION" ]; then
    alias bashconfig="$EDITOR $HOME/.bashrc"
    alias bashreload="source $HOME/.bashrc"
fi

# shellがzshだった場合
if [ -n "$ZSH_VERSION" ]; then
    alias zshconfig="$EDITOR $HOME/.zshrc"
    alias zshreload="source $HOME/.zshrc"
fi 


# windowsでwslの時にelでexplorerを起動したい
# macだったらfinderで表示したいのでopenにすればいいか
# linuxの場合もopenで起動できる
if [[ $ostype = "mac" ]]; then #OSがmacのとき
        alias el='open'
elif [[ $ostype == "wsl" ]]; then
        alias el='explorer.exe'
elif [[ $ostype == "linux" ]]; then
        alias el='open'
fi

# 代替コマンドの実行ファイルがあるかどうか確認する
isInstalled(){
    which  "$1" > /dev/null 2>&1
}

if isInstalled bat; then
    alias cat='bat'
    echo "bat: installed"
elif inInstalled batcat; then
    alias bat='batcat'
    alias cat='batcat'
    echo "batcat: used as bat"
else
    echo "bat: not installed"
fi

# lsd(ls Deluxe)が入っていたら
#   ll->lsd -alF
#   ls->lsd
# 入っていなかったら
#   ll->ls -alFG --color=auto
if isInstalled lsd; then
    alias ls='lsd'
    alias ll='lsd -alF'
    echo "lsd: installed"
else
    alias ll="ls -alFG --color=auto"
    echo "lsd: not installed"
fi

# zoxideが入っていたらcdをzに置き換える
if isInstalled zoxide; then
    alias cd='z'
    alias cdi='zi'
    echo "zoxide: installed"
else
    echo "zoxide: not installed"
fi



echo ".aliases is loaded"
