# この.aliasはbashとzshで共通
# ostype declared at .zshrc
# macの場合:ostype="mac"
# wslの場合:ostype='wsl'
#それ以外:ostype="linux"

# OCamlのエイリアスを設定
# OCamlでカーソル移動ができるようにrlwrap経由で起動する
alias ocaml='rlwrap ocaml'

# tmux
alias tm='tmux'

# docker-compose用のエイリアスを設定
alias fig='docker-compose'

# VScode-insidersをcodeで起動できるように設定
# alias code='code-insiders'


# shellがbashだった場合
if [ -n "$BASH_VERSION" ]; then
    alias bashconfig="$EDITOR $HOME/.bashrc"
    alias bashreload="source $HOME/.bashrc"
fi

# shellがzshだった場合
if [ -n "$ZSH_VERSION" ]; then
    alias zshconfig="$EDITOR $HOME/.zshrc"
    alias zshreload="source $HOME/.zshrc"
fi 


# aliases for git
# https://opensource.com/article/20/11/git-aliases
git config --global alias.aa 'add .'
git config --global alias.p 'push'

# windowsでwslの時にelでexplorerを起動したい
# macだったらfinderで表示したいのでopenにすればいいか
# linuxの場合もopenで起動できる
if [[ $ostype = "mac" ]]; then #OSがmacのとき
        alias el='open'
elif [[ $ostype == "wsl" ]]; then
        alias el='explorer.exe'
elif [[ $ostype == "linux" ]]; then
        alias el='open'
fi
# 代替コマンドの実行ファイルがあるかどうか確認する
# 代替コマンドのパスを格納する
bat_path=""
lsd_path=""
if [[ $ostype = "mac" ]]; then #OSがmacのとき
    bat_path="/opt/homebrew/bin/bat"
    lsd_path="/opt/homebrew/bin/lsd"
elif [[ $ostype == "wsl" ]]; then
    bat_path="/usr/sbin/bat"
    lsd_path="/usr/sbin/lsd"
elif [[ $ostype == "linux" ]]; then
    bat_path="/usr/sbin/bat"
    lsd_path="/usr/sbin/lsd"
fi

# batがinstallされていたら、catの代わりにbatをつかう
if [[ -e $bat_path ]]; then
    alias cat='bat'
fi

# lsd(ls Deluxe)が入っていたら
#   ll->lsd -alF
#   ls->lsd
# 入っていなかったら
#   ll->ls -alFG --color=auto
if [[ -e $lsd_path ]]; then
    alias ls='lsd'
    alias ll='lsd -alF'
else
    alias ll="ls -alFG --color=auto"
fi

echo ".aliases is loaded"
