# この.aliasはbashとzshで共通
# ostype declared at .zshrc
# macの場合:ostype="mac"
# wslの場合:ostype='wsl'
#それ以外:ostype="linux"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias d="cd ~/Dropbox"
alias dl="~/Downloads"
alias dt="~/Desktop"
alias doc="~/Documents"

# 
alias :q='exit'
#
# OCamlのエイリアスを設定
# OCamlでカーソル移動ができるようにrlwrap経由で起動する
alias ocaml='rlwrap ocaml'

# tmux
alias tm='tmux'

# docker-compose用のエイリアスを設定
alias fig='docker compose'

# VScode-insidersをcodeで起動できるように設定
# alias code='code-insiders'


# shellがbashだった場合
if [ -n "$BASH_VERSION" ]; then
    alias bashconfig="$EDITOR $HOME/.bashrc"
    alias bashreload="source $HOME/.bashrc"
fi

# shellがzshだった場合
if [ -n "$ZSH_VERSION" ]; then
    alias zshconfig="$EDITOR $HOME/.zshrc"
    alias zshreload="source $HOME/.zshrc"
fi 



# windowsでwslの時にelでexplorerを起動したい
# macだったらfinderで表示したいのでopenにすればいいか
# linuxの場合もopenで起動できる
if [[ $ostype = "mac" ]]; then #OSがmacのとき
        alias el='open'
elif [[ $ostype == "wsl" ]]; then
        alias el='explorer.exe'
elif [[ $ostype == "linux" ]]; then
        alias el='open'
fi
# 代替コマンドの実行ファイルがあるかどうか確認する
# 代替コマンドのパスを格納する
bat_path=""
lsd_path=""
zoxide_path=""
if [[ $ostype = "mac" ]]; then #OSがmacのとき
    bat_path="/opt/homebrew/bin/bat"
    lsd_path="/opt/homebrew/bin/lsd"
    zoxide_path="/opt/homebrew/bin/zoxide"
elif [[ $ostype == "wsl" ]]; then
    bat_path="/usr/sbin/bat"
    lsd_path="/usr/sbin/lsd"
    # zoxide_path="/usr/sbin/zoxide"
    zoxide_path="/usr/bin/zoxide"
elif [[ $ostype == "linux" ]]; then
    bat_path="/usr/sbin/bat"
    lsd_path="/usr/sbin/lsd"
    zoxide_path="/usr/sbin/zoxide_path"
fi

isInstalled(){
    which  "$1" > /dev/null 2>&1
}

isBatInstalled=false
isLsdInstalled=false
isZoxideInstalled=false

if isInstalled "bat"; then
    bat_path=$(which bat)
    isBatInstalled=true
    echo "bat is installed"
fi

if isInstalled "lsd"; then
    lsd_path=$(which lsd)
    alias ls='lsd'
    alias ll='lsd -alF'
    isLsdInstalled=true
    echo "lsd is installed"
else 
    alias ll="ls -alFG --color=auto"
fi

if isInstalled "zoxide"; then
    zoxide_path=$(which zoxide)
    isZoxideInstalled=true
    alias cd='z'
    alias cdi='zi'
    echo "zoxide is installed"
fi




# batがinstallされていたら、catの代わりにbatをつかう
; if [[ -e $bat_path ]]; then
;     alias cat='bat'
; fi

# lsd(ls Deluxe)が入っていたら
#   ll->lsd -alF
#   ls->lsd
# 入っていなかったら
#   ll->ls -alFG --color=auto
; if [[ -e $lsd_path ]]; then
;     alias ls='lsd'
;     alias ll='lsd -alF'
; else
;     alias ll="ls -alFG --color=auto"
; fi

# zoxideが入っていたらcdをzに置き換える
; if [[ -e $zoxide_path ]]; then
;     alias cd='z'
;     alias cdi='zi'
; fi


echo ".aliases is loaded"
